
<li>
{{question.title}}    <small class="muted">by {{question.author}}</small>
{{#if isAnswerShowing}}
<p>{{question.answer}} </p>
{{else}}
  <button {{action 'ansShow'}}>Answer</button>
{{/if}}
</li>
