<li>
{{question.title}}    <small class="muted">by {{question.author}}</small>
{{#if isAnswerShowing}}
<p>Answer is....{{action 'ansHide'}}</p>
{{else}}
  <button {{action 'ansShow'}}>Answer</button>
{{/if}}
</li>
